# Distribution / packaging
.Python
build/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
__pycache__/
.pytest_cache
.env
bin/
include/
pip-selfcheck.json
share/
*.pyc
*.egg-info
venv/
.DS_Store
.idea/
cache/
gibberish/
